.swiper-button-prev-custom,
.swiper-button-next-custom {
  position: absolute;
  top: 33%;
  transform: translateY(-50%);
  z-index: 10;
  background: white;
  border-radius: 9999px;
  padding: 12px 12px;
  font-size: 15px;
  font-weight: bold;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  cursor: pointer;
}

/* position them left/right */
.swiper-button-prev-custom { left: 1px; }
.swiper-button-next-custom { right: 1px; }
